.body_information .contact_form_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contact_form_section .contact_form_heading {
    font-size: 32px;
    font-weight: bold;
    color: #edb302;
}

.body_information .contact_form_section .contact_form form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.body_information .contact_form_section .contact_form .form_first_section,
.form_second_section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact_form_section .contact_form .form_first_section .name_section,
.email_section,
.form_second_section .message_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
}

.name_section input,
.email_section input {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
}

.form_second_section .message_section textarea {
    width: 700px;
    height: 100px;
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    padding-left: 20px;
    padding-top: 10px;
}

.contact_form .submitbutton input {
    width: 20%;
    height: 40px;
    border-radius: 20px;
    margin-left: 620px;
    background: linear-gradient(#edb302, #edb302) padding-box,
                linear-gradient(to right, rgba(255, 255, 255, 0.34), #191c25) border-box;
    color: #171717;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid transparent;
}

.contact_form .submitbutton input:hover {
    filter: drop-shadow(0 0 0.30rem rgba(255, 255, 255, 0.353));
}

.thanks_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.thanks_message .main_line {
    font-size: 24px;
    font-weight: 600;
}

.thanks_message .subline {
    font-size: 20px;
    margin-top: -10px;
    text-align: center;
    color: #edb302;
}

.subline:after {
    content: "😄😄";
}

.subline span {
    color: wheat;
}

.form_submitted_message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_submitted_message .submit_message{
    font-size: 20px;
    /* font-weight: 700; */
}